# User service for Rclone mounting
#
# Place in ~/.config/systemd/user/
# File must include the '@' (ex rclone@.service)
# As your normal user, run 
#   systemctl --user daemon-reload
# You can now start/enable each remote by using rclone@<remote>
#   systemctl --user enable --now rclone@dropbox

[Unit]
Description=Mount rclone remote for %i
Documentation=man:rclone(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStartPre=-/usr/bin/mkdir -p %h/Documents/Remote/%i
ExecStart=/usr/bin/rclone mount \
    --config %h/.config/rclone/rclone.conf \
    --vfs-cache-max-size 1G \
    --vfs-cache-mode writes \
    %i: %h/Documents/Remote/%i
ExecStop=/usr/bin/fusermount -u %h/Documents/Remote/%i
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
