default_mode "normal"
pane_frames false
theme "catppuccin-macchiato"
show_startup_tips false
scroll_buffer_size 2000
attach_to_session true
session_serialization false
disable_session_metadata true

keybinds clear-defaults=true {
    shared {
        // switch the mode
        bind "Ctrl p" { SwitchToMode "pane"; }
        bind "Ctrl t" { SwitchToMode "tab"; }
        bind "Ctrl m" { SwitchToMode "move"; }
        bind "Ctrl s" { SwitchToMode "resize"; }
        // bind "Ctrl w" { SwitchToMode "session"; }
        bind "Ctrl /" { SwitchToMode "scroll"; }

        // navigation
        bind "Alt h" { MoveFocus "left"; }
        bind "Alt j" { MoveFocus "down"; }
        bind "Alt k" { MoveFocus "up"; }
        bind "Alt l" { MoveFocus "right"; }
        bind "Alt Enter" { NewPane; }
        bind "Alt -" { GoToPreviousTab; }
        bind "Alt =" { GoToNextTab; }

        // control
        bind "Alt \\" { ToggleFloatingPanes; }
        bind "Alt Space" { NextSwapLayout; }
        bind "Alt Backspace" { Quit; }
    }
    shared_except "normal" "entersearch" "renametab" "renamepane" {
        bind "esc" { SwitchToMode "normal"; }
    }

    pane {
        bind "i" { NewPane "up"; SwitchToMode "normal"; }
        bind "s" { NewPane "left"; SwitchToMode "normal"; }
        bind "t" { NewPane "stacked"; SwitchToMode "normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "Tab" { SwitchFocus; }

        bind "r" { SwitchToMode "renamepane"; PaneNameInput 0; }
        bind "p" { TogglePanePinned; SwitchToMode "normal"; }
        bind "e" { TogglePaneEmbedOrFloating; SwitchToMode "normal"; }
        bind "x" { CloseFocus; SwitchToMode "normal"; }
    }
    renamepane {
        bind "esc" { UndoRenamePane; SwitchToMode "pane"; }
        bind "Ctrl c" { SwitchToMode "normal"; }
    }
    tab {
        bind "1" { GoToTab 1; SwitchToMode "normal"; }
        bind "2" { GoToTab 2; SwitchToMode "normal"; }
        bind "3" { GoToTab 3; SwitchToMode "normal"; }
        bind "4" { GoToTab 4; SwitchToMode "normal"; }
        bind "5" { GoToTab 5; SwitchToMode "normal"; }
        bind "6" { GoToTab 6; SwitchToMode "normal"; }
        bind "7" { GoToTab 7; SwitchToMode "normal"; }
        bind "8" { GoToTab 8; SwitchToMode "normal"; }
        bind "9" { GoToTab 9; SwitchToMode "normal"; }
        bind "[" { MoveTab "Left"; SwitchToMode "normal"; }
        bind "]" { MoveTab "Right"; SwitchToMode "normal"; }
        bind "b" { BreakPane; SwitchToMode "normal"; }
        bind "n" { NewTab; SwitchToMode "normal"; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "s" { ToggleActiveSyncTab; SwitchToMode "normal"; }
        bind "x" { CloseTab;  SwitchToMode "normal"; }
    }
    renametab {
        bind "esc" { UndoRenameTab; SwitchToMode "tab"; }
        bind "Ctrl c" { SwitchToMode "normal"; }
    }
    move {
        bind "h" { MovePane "left"; }
        bind "j" { MovePane "down"; }
        bind "k" { MovePane "up"; }
        bind "l" { MovePane "right"; }
        bind "Tab" { MovePane; }
    }
    resize {
        bind "-" { Resize "Decrease"; }
        bind "=" { Resize "Increase"; }
        bind "h" { Resize "Increase left"; }
        bind "j" { Resize "Increase down"; }
        bind "k" { Resize "Increase up"; }
        bind "l" { Resize "Increase right"; }
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        // NOTE:
        // need this!
        bind "Alt h" { MoveFocusOrTab "left"; SwitchToMode "normal"; }
        bind "Alt j" { MoveFocus "down"; SwitchToMode "normal"; }
        bind "Alt k" { MoveFocus "up"; SwitchToMode "normal"; }
        bind "Alt l" { MoveFocusOrTab "right"; SwitchToMode "normal"; }
        bind "/" { SwitchToMode "entersearch"; SearchInput 0; }
    }
    entersearch {
        bind "Ctrl c" { SwitchToMode "scroll"; }
        bind "esc" { SwitchToMode "scroll"; }
        bind "enter" { SwitchToMode "search"; }
    }
    search {
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
    }
    shared_among "scroll" "search" {
        bind "g" { ScrollToTop; }
        bind "G" { ScrollToBottom; }
        bind "u" { HalfPageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "Ctrl u" { HalfPageScrollUp; }
        bind "Ctrl d" { HalfPageScrollDown; }
        bind "PageDown" { PageScrollDown; }
        bind "PageUp" { PageScrollUp; }
        bind "left" { PageScrollUp; }
        bind "right" { PageScrollDown; }
        bind "up" { ScrollUp; }
        bind "down" { ScrollDown; }
        bind "Ctrl b" { PageScrollUp; }
        bind "Ctrl f" { PageScrollDown; }
        bind "j" { ScrollDown; }
        bind "k" { ScrollUp; }
    }
    session {
        bind "d" { Detach; }
        bind "x" { Quit; }
    }
}

// Plugins to load in the background when a new session starts
// eg. "file:/path/to/my-plugin.wasm"
// eg. "https://example.com/my-plugin.wasm"
load_plugins {}
// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {}
