layout {
    default_tab_template {
        children
        pane size=1 borderless=false {
            plugin location="zjstatus" {
                format_left   "{mode}#[fg=black]{tabs}"
                format_center ""
                format_right  "#[fg=#6867AF,bold]  {datetime}#[fg=cyan]↖ "
                format_space  "#[fg=yellow] "
                hide_frame_for_single_pane "false"
                border_enabled  "false"

                mode_normal        "#[fg=yellow]  "
                mode_pane          "#[fg=black,bg=#89B4FA] 󱂬 "
                mode_move          "#[fg=black,bg=#89B4FA] 󰆾 "
                mode_resize        "#[fg=black,bg=#89B4FA] 󰩨 "
                mode_tab           "#[fg=black,bg=#89B4FA] 󰓩 "
                mode_scroll        "#[fg=black,bg=#89B4FA]  "
                mode_enter_search  "#[fg=black,bg=#89B4FA]  "
                mode_search        "#[fg=black,bg=#89B4FA]  "
                mode_rename_tab    "#[fg=black,bg=#89B4FA] 󰑕 "
                mode_rename_pane   "#[fg=black,bg=#89B4FA] 󰑕 "
                mode_session       "#[fg=black,bg=#89B4FA]  "
                // formatting for inactive tabs
                tab_normal              "  #[fg=#6C7086]"
                tab_normal_fullscreen   "  #[fg=#6C7086]"
                tab_normal_sync         "  #[fg=#6C7086]"

                // formatting for the current active tab
                tab_active              "  #[fg=blue,bold]#[fg=yellow,bold]{floating_indicator}"
                tab_active_fullscreen   "  #[fg=yellow,bold]#[fg=yellow,bold]{fullscreen_indicator}" 
                tab_active_sync         "  #[fg=green,bold]#[fg=yellow,bold]{sync_indicator}"

                // separator between the tabs
                // tab_separator           "#[fg=cyan,bold]⋮"

                // indicators
                tab_sync_indicator       ""
                tab_fullscreen_indicator ""
                tab_floating_indicator   ""

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%a, %d %b %H:%M"
                datetime_timezone "America/New_York"
            }
        }
    }
}
